
.grid {
  display: grid;
  gap: 5px;
  height:250vh;
  grid-template-columns: repeat(4,100px);
  grid-template-rows: repeat(4,109px);
  justify-content: center; /*그리드 전체에 영향을 준다*/
  align-content: space-between;
  /*place-content: 수직 수평 ; */


}


.header {
  background-color: chartreuse;



}

.content {
  background-color: cornflowerblue;


}

.nav {
  background-color: darkblue;
 

}

.footer {
 background-color: darkorchid;


}