.father {
display: flex;
/* flex의 기본 direction은 row */
justify-content: space-around;
height: 200vh;
/* 항상 아버지 (부모) 쪽 클레스에 높이 혹은 폭의 값이 있어야 align이 작동한다 */
}


.children {
  width: 200px;
  height: 200px;
  background: peru;
  color:white;
  font-size: 50px;
}




.children:nth-child(1){
  align-self: center;
  order: 2;
  /* 순서의 기본값은 0 */
}

.children:nth-child(2){
  align-self: flex-end;
  order: 3;
}

/* Children 에게만 줄수 있는 속성들 , align-self = align-item, order */