.wrapper {
display: flex;
flex-direction: row;

justify-content:space-around;
height: 100vh;
flex-direction: row;
/*폭에 상관없이 모두다 한줄에 nowrap , 상관있게는 wrap */
flex-wrap: wrap;
align-content: space-around;

}


.box {
  width: 200px;
  height: 200px;
  background: peru;
  color:white;
  display: flex;
  justify-content: center;
  align-items: center;
}

